{# Etend le layout  qui sera commun à toutes les vues #}
{% extends 'base.html.twig' %} 

{# Correspond au bloc de chaque vu #}
{% block title %} Détail d'une entreprise{% endblock %}

{% block body %}

    <h1>Détail d'une entreprise</h1>

    <h2> {{entreprise}}</h2>
    <p>
        Adresse: {{entreprise.adresseComplete}} <br>
        Date de création : {{entreprise.dateCreation | date ("d/m/Y")}} {# on peut déléguer a twig via filters #}

    </p>


    <h3>Liste des salariés</h3>

      {% if entreprise.employes | length > 0 %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Employe</th>
        </tr>
    </thead>
    <tbody>
        {% for employe in entreprise.employes %}
            <tr>
                <td>
                    <a href="{{ path('show_employe', {'id': employe.id}) }}">
                        {{ employe }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
